@model BlogTommy.Models.Post

@{
    ViewData["Title"] = "Detalles del Post";
}

<div class="container mt-5">
    <img src="@Model.Image_url" style="width: 100%; height: 70vh; object-fit: cover;" alt="Título">

    <!-- Título del post -->
    <h2 class="mt-4 text-center text-primary">@Model.Title</h2>

    <!-- Información del autor y fecha -->
    <div class="row mt-3">
        <div class="col-md-6">
            <p><strong>Autor:</strong> @Model.User.Username</p>
            <p><strong>Fecha:</strong> @Model.CreatedAt.ToString("dd MMM yyyy")</p>
        </div>
    </div>

    <!-- Contenido del post -->
    <div class="row mt-4">
        <div class="col-md-12">
            <p class="fw-bold">Contenido del Post:</p>
            <div class="card shadow-sm p-3">
                <div class="card-body">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de comentarios -->
    <h3 class="mt-5">Comentarios:</h3>
    <div class="list-group mt-3">
        @foreach (var comment in Model.Comments)
        {
            <div class="list-group-item border rounded shadow-sm p-3">
                <p class="fw-bold text-primary">@comment.User.Username:</p>
                <p>@comment.Content</p>
            </div>
        }
    </div>

    <!-- Botón de regreso -->
    <div class="mt-4 text-center">
        <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary btn-lg">Volver a la página principal</a>
    </div>
</div>
